<h2>Imóveis Disponíveis para Vistoria</h2>

<div *ngIf="imoveisDisponiveis.length === 0">
  <p>Nenhum imóvel disponível para vistoria.</p>
</div>

<div *ngFor="let imovel of imoveisDisponiveis" style="margin-bottom: 20px; border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
  <div style="display: flex; align-items: center;">
    <img *ngIf="getImagemPrincipal(imovel)" [src]="getImagemPrincipal(imovel)" alt="Foto principal" width="175" height="145" style="object-fit: cover; margin-right: 15px;">
    
    <div>
      <h3>{{ imovel.tituloImovel }}</h3>
      <p><strong>Tipo Imóvel:</strong> {{ imovel.tipoImovel }}</p>
      <p><strong>Endereço:</strong> {{ imovel.endereco }}, {{ imovel.numero }} - {{ imovel.bairro }}</p>
      <p><strong>Cidade:</strong> {{ imovel.cidade }} / {{ imovel.estado }} - <strong>CEP:</strong> {{imovel.cep }}</p>
      <p><strong>Valor de Venda:</strong> R$ {{ imovel.precoVenda | number:'1.2-2' }}</p>
      <button (click)="iniciarVistoria(imovel)">Iniciar Vistoria</button>
    </div>
  </div>
</div>
